
.AddonLoadingRoot
{
  width: 100%;
  height: 100%;
}

#TitlePanel
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 150px;
  margin-left: 100px;
  flow-children: right;
}

#AddonTitle
{
  margin-bottom: -15px;
  vertical-align: center;
  text-transform: uppercase;
  font-size: 80px;
  color: #cccccc;
  text-shadow: 8px 8px 1px #000000;
}

.SeqImg
{
  min-width: 100%;
  min-height: 100%;
}

#CustomBg
{
	margin-left: -900px;
	margin-top: -250px;
}

#gamemode
{
  margin-left: 0%;
}